<!doctype html>
<html ng-app="ItemApp">
		<head>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
			<script src="myApp.js"></script>
			<style type="text/css">
				.tab {
					border:1;
					border-collapse: collapse;
				}
				.tab td {
					border-left: 1px solid #000;
					border-right: 1px solid #000;
				}
				.no-left{
					border-right: 1px solid #000;
				}
				.no-right{
					border-left: 1px solid #000;
				}
			</style>
		</head>

		<body>
				<div align=center ng-controller="ItemListController as itemList">
						
				<form ng-submit="itemList.additem()">
						<input type="text" ng-model="itemList.item">
						<input type="text" ng-model="itemList.qty">
						<input type="text" ng-model="itemList.rate">
						<input class="btn-primary" type="submit" value="Add item">
				</form>
				<br>

				<table class="tab" align=center border="1" width=90%>
						<tr>
							<th>Tax Invoice</th>
						</tr>
				</table>

				<table class="tab" align=center border="1" width=90%>
						<tr height="80px">
								<td valign=top width=50%>Seller</td>
								<td valign=top width=50%>Buyer</td>
						</tr>
						<tr>
								<td>INVOICE NO : {{invoice}}</td>
								<td><b>Date:</b> <input type="date" id="myDate"></td>
						</tr>
				</table>

				<table class="tab" align=center border=1 width=90%>
						<tr>
								<th width=10%>SLNO <a href="" ng-click="itemList.deleteItem()"><br>Delete</a> </th>
								<th width=40%>DESCRIPTION</th>
								<th width=14%>Quantity</th>
								<th width=18%>Rate/Gms</th>
								<th width=18%>Amount</th>
						</tr>
				</table>

				<table class="tab" height="100px" width=90%>
						<tr ng-repeat="item in itemList.items">
							<td width=10%><input type="checkbox" ng-model="item.done">{{$index+1}}</td>
							<td width=40%>{{item.item}}</td>
							<td width=14%>{{item.qty}}</td>
							<td width=18%>{{item.rate}}</td>
							<td width=18%></td>
					</tr>
				</table>

				<table class="tab" align=center border="1" width=90%>
					<tr>
						<td width=64.1%></td>
						<td>Gross</td>
					</tr>
					<tr>
						<td><u>Amount in Words :</u> </td>
						<td>Total</td>
					</tr>
				</table>

				<table align=center frame="box" width=90%>
					<tr>
						<td>
							<u>Declaration</u><br>
							We declare that this invoice shows the actual price of the goods <br>described and thatt all particulars are true and correct.
						</td>
						<td align=right valign=top>
							For SAI BULLION TRADERS&nbsp;&nbsp;&nbsp;
						</td>
					</tr>
				</table>

				<table class="tab" align=center border="1" width=90%>
					<tr>
						<th>This is Computer generated Invoice</th>
					</tr>
				</table>
			</div>
		</body>
</html>
