<!doctype html>
<html ng-app="ItemApp">
		<head>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
			<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
			<script src="myApp.js"></script>
			<style type="text/css">
				.tab {
					border:1;
					border-collapse: collapse;
				}
				.tab td {
					border-left: 1px solid #000;
					border-right: 1px solid #000;
				}
				.no-border td {
					border: none;
				}
				.no-left{
					border-right: 1px solid #000;
				}
				.no-right{
					border-left: 1px solid #000;
				}
				table.fixed_width { table-layout:fixed; }
				table.fixed_width td { overflow: hidden; }
				table{ empty-cells: show; }
			</style>
		</head>

		<body>
			<div align=center ng-controller="ItemListController">
			
			<div ng-hide="printer">
				<form ng-submit="additem()">
					Desc: <input type="text" required="required" ng-model="itemName">
					Qty: <input type="number" required="required" ng-model="itemQty">
					Rate: <input type="number" required="required" ng-model="itemRate">
					<input class="btn-primary" type="submit" value="Add item" />
				</form>
				<button ng-click="deleteItem()" ng-show="selectionCounter">Delete</button>
				<button ng-click="editItem()" ng-show="singleSelection">Edit</button>
				<button ng-click="updateItem()" ng-show="singleSelection">Update</button>
				VAT: <input type="number" ng-model="vat_value" ng-change="receiptUpdate()" required="required" />

				<br><br>
			</div>

			<table class="tab" align=center border="1" width=970px>
					<tr>
						<th>Tax Invoice</th>
					</tr>
			</table>
			<table class="tab" align=center border="1" width=970px>
					<tr height="80px">
							<td id="seller_details" valign=top width="485px"></td>
							<td id="buyer_details" valign=top width="485px"></td>
					</tr>
					<tr>
							<td>INVOICE NO : {{invoice}}</td>
							<td><b>Date:</b> <input type="date" id="myDate"></td>
					</tr>
			</table>
			<table class="tab" align=center border=1 width=90%>
					<tr>
							<th width=10%>SL NO</th>
							<th width=40%>DESCRIPTION</th>
							<th width=14%>Quantity</th>
							<th width=18%>Rate/Gms</th>
							<th width=18%>Amount</th>
					</tr>
			</table>
			<table class="tab" height="100px" width=90%>
					<tr ng-repeat="item in itemList">
						<td width=10%><input type="checkbox" ng-model="item.done" ng-click="selectionCount()">{{$index+1}}<td>
						<td width=40%>{{item.name}}</td>
						<td width=14% align="center">{{item.qty}}</td>
						<td width=18% align="right">{{item.rate}}</td>
						<td width=18% align="right">{{item.gross}}</td>
				</tr>
			</table>
			<table class="tab" align=center border="1" width=90%>
				<tr>
					<td width=64.2%></td>
					<td>
						<table class="no-border" width="100%">
							<tr>
								<td>Gross</td>
								<td align="right">{{gross}}</td>
							</tr>
							<tr>
								<td>VAT {{vat_value}}%</td>
								<td align="right">{{vat}}</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><u>Amount in Words :</u> {{totalWords}}</td>
					<td>
						<table class="no-border" width="100%">
							<tr>
								<td>TOTAL</td>
								<td align="right">{{total}}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table align=center frame="box" width=90%>
				<tr>
					<td>
						<u>Declaration</u><br>
						We declare that this invoice shows the actual price of the goods <br>described and thatt allparticulars are true and correct.
					</td>
					<td align=right valign=top>
						For SAI BULLION TRADERS&nbsp;&nbsp;&nbsp;
					</td>
				</tr>
			</table>
			<table class="tab" align=center border="1" width=90%>
				<tr>
					<th>This is Computer generated Invoice</th>
				</tr>
			</table>
			<br><button ng-click="save()">Save</button>
			<button ng-click="printPage()">Print</button>
			<br>
			<textarea ng-model="seller" ng-change="seller_buyer_change()"></textarea>
			<textarea ng-model="buyer" ng-change="seller_buyer_change()"></textarea>

		</div>

	</body>
</html>
